@font-face {
  font-family: "iconfont"; /* Project id 4709107 */
  src: url('iconfont.woff2?t=1730129866147') format('woff2'),
       url('iconfont.woff?t=1730129866147') format('woff'),
       url('iconfont.ttf?t=1730129866147') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before {
  content: "\e621";
}

.icon-zip:before {
  content: "\e622";
}

.icon-Unknownfiletypes:before {
  content: "\e72d";
}

.icon-image:before {
  content: "\e655";
}

.icon-txt-1:before {
  content: "\e605";
}

.icon-video:before {
  content: "\e6b9";
}

.icon-JC_054:before {
  content: "\e660";
}

.icon-mn_fasong_fill:before {
  content: "\e604";
}

.icon-xiaolian-copy:before {
  content: "\e641";
}

.icon-caidan-tianchong:before {
  content: "\e729";
}

.icon-caidan2:before {
  content: "\e675";
}

.icon-zuocedaohangcaidan-caidanhuizong:before {
  content: "\e603";
}

.icon-caidan:before {
  content: "\e608";
}

.icon-xiaolian:before {
  content: "\e620";
}

.icon-caidan1:before {
  content: "\e652";
}

.icon-fasong:before {
  content: "\e65e";
}

.icon-tongxunlu:before {
  content: "\e633";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-zhongmingming:before {
  content: "\e63a";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-tuichu1:before {
  content: "\e61f";
}

.icon-changjianwentixiangguanwenti:before {
  content: "\e689";
}

.icon-tuichu:before {
  content: "\e623";
}

.icon-woyaofankui:before {
  content: "\e632";
}

.icon-youjian:before {
  content: "\e681";
}

.icon-xinjianwenjianjia:before {
  content: "\e656";
}

.icon-shangchuan:before {
  content: "\e66f";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-wenjianjia3:before {
  content: "\e600";
}

.icon-duorenyonghu:before {
  content: "\e61e";
}

.icon-duihua:before {
  content: "\e607";
}

.icon-jiqiren:before {
  content: "\e68c";
}

.icon-duorenyonghu2:before {
  content: "\e7db";
}

.icon-wenjianjia:before {
  content: "\e602";
}

.icon-wenjianjia1:before {
  content: "\e67b";
}

.icon-wenjianjia2:before {
  content: "\e674";
}

.icon-gengduo:before {
  content: "\e631";
}

.icon-xiangzuo:before {
  content: "\e884";
}

.icon-sandian:before {
  content: "\e628";
}

.icon-shouji:before {
  content: "\e626";
}

.icon-yonghu:before {
  content: "\e63f";
}

.icon-a-mianxingshezhi:before {
  content: "\e609";
}

.icon-a-teshujian:before {
  content: "\e60a";
}

.icon-a-mianxingaixin:before {
  content: "\e60b";
}

.icon-a-xianxingaixin:before {
  content: "\e60c";
}

.icon-a-teshujia:before {
  content: "\e60d";
}

.icon-a-teshuguanbi:before {
  content: "\e60e";
}

.icon-a-teshushangjiantou:before {
  content: "\e60f";
}

.icon-a-teshuzuojiantou:before {
  content: "\e610";
}

.icon-a-teshuxiajiantou:before {
  content: "\e611";
}

.icon-a-teshuyoujiantou:before {
  content: "\e612";
}

.icon-a-mianxingdianzan:before {
  content: "\e613";
}

.icon-a-teshuduihao:before {
  content: "\e614";
}

.icon-a-mianxingfenxiang:before {
  content: "\e615";
}

.icon-a-teshushouqi:before {
  content: "\e616";
}

.icon-a-xianxingpinglun:before {
  content: "\e617";
}

.icon-a-xianxingshanchu:before {
  content: "\e618";
}

.icon-a-xianxingfenxiang:before {
  content: "\e619";
}

.icon-a-xianxingshezhi:before {
  content: "\e61a";
}

.icon-a-xianxingshouye:before {
  content: "\e61b";
}

.icon-a-teshuxuanzhongkuang:before {
  content: "\e61c";
}

.icon-a-xianxingdianzan:before {
  content: "\e61d";
}

